*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body{
    background-color: #f5db69;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 380px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 20px;
    box-shadow: 8px 8px 0 #000;
}
.card-image{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}
.tag{
    display: inline-block;
    background-color: #e2861d;

    padding: 8px 12px;
    border-radius: 5px;
    font-size: 700;
    margin-bottom: 15px;
}
.date{
    margin : 15px 0;
    font-size: 14px;
}
h2{
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 800;
    cursor: pointer;
}
h2:hover{
    color: #f5db69;
}
.description{
    margin-bottom: 20px;
    line-height: 1.6;
    color: #6b6b6b;
}
.author{
    display: flex;
    align-items: center;
    gap: 12px;
}
.author img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.author span{
    font-weight: 700;
}